    p,
    body {
        margin: 0px;
        font-family: Arial, sans-serif;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-width: 1000px;
    }